%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {lhttpc, "1.2.8",
         {git, "git://github.com/ferd/lhttpc.git",
          {tag, "de7e48fb10"}}},
        {jiffy, "0.11.3",
         {git, "https://github.com/davisp/jiffy.git",
          {tag, "0.11.3"}}}
       ]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

