%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {dlhttpc, ".*",
         {git, "git://github.com/knutin/dlhttpc.git", "master"}},
        {jiffy, "",
         {git, "https://github.com/davisp/jiffy.git", "master"}}
       ]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

